[Desktop Entry]
Version=1.0
Type=Application
Name=shelix editor
GenericName=Shelix IDE
Terminal=true
Comment=Open with shelix
Exec=zsh -c 'cd /media/nvrm/dev/DEVS/SHELIX && ./shelix.sh %U; $SHELL' shelix %U
Icon=/media/nvrm/dev/DEVS/SHELIX/shelix.png
Categories=Development
MimeType=application/x-sh;application/x-shellscript;
