[Desktop Entry]
Version=1.0
Type=Application
Name=Shelix editor
GenericName=Shelix IDE
Comment=Open with Shelix
Terminal=true
Exec=bash -c 'cd SHELIXPATH && ./shelix.sh %U; $SHELL'
Icon=shelix-ide.png
Categories=Development
NoDisplay=true
MimeType=application/x-sh;application/x-shellscript;
